	<div class="row span12 alert alert-danger" ng-show="isException">
	  <a class="close" data-dismiss="alert">×</a>
	  <strong>Failure! </strong>{{exception.message}}
	</div>

  		<div class="span5 offset5 select-append">
  			<h3> Events</h3>
  		</div> 
  	
  	<div class="span8 offset2 input-append" style="margin-top: 1%;">
	  	<div class="row">
	  		<input type="text" class="input-lg span8" placeholder="Search Requirements" ng-model="search.title"/>
	  		<span class="btn"><i class="icon-search"></i></span>
		</div> 
	</div>
	
    <div class="span12">
      <table class="table table-bordered table-hover">
      	<thead>
      		<tr>
      			<th class="span4" colspan="1"><span ng-click="sortTable('title')">Requirement Title</span></th>
      			<th colspan="1" class="span4">Description</th>
      			<th colspan="1" class="span4">Short Title</th>
      			<th colspan="1" class="span4">Creator</th>
      			<th colspan="1" class="span4">Contributor</th>
      			<th colspan="1" class="span4">CreatedOn</th>
      			<th colspan="1" class="span4">Modified</th>
      			<th colspan="1" class="span4">Type</th>
      			<th colspan="1" class="span4">Constraints</th>
      			<th colspan="1" class="span4">Links</th>
      			<th colspan="1" class="span4">Elaboration</th>
      			<th colspan="1" class="span4">ElaboratedBy</th>
      			<th colspan="1" class="span4">Parent</th>
      			<th colspan="1" class="span4">Priority</th>
      			<th colspan="1" class="span4">Status</th>
      			
      		</tr>
      	</thead>
		<tbody >
			<tr ng-repeat='Requirement in Requirements | filter:search:strict |  orderBy: sortOn' ng-class-odd="'info'" ng-class-even="'warning'">
       			<td>{{Requirement.title}}</td>
       			<td>{{Requirement.description}}</td>
       			<td>{{Requirement.shortTitle}}</td>
       			<td>{{Requirement.creator}}</td>
       			<td>{{Requirement.contributor}}</td>
       			<td>{{Requirement.createdOn}}</td>
       			<td>{{Requirement.modified}}</td>
       			<td>{{Requirement.type}}</td>
       			<td>{{Requirement.constraints}}</td>
       			<td>{{Requirement.links}}</td>
       			<td>{{Requirement.elaboration}}</td>
       			<td>{{Requirement.elaboratedBy}}</td>
       			<td>{{Requirement.parent}}</td>
       			<td>{{Requirement.priority}}</td>
       			<td>{{Requirement.status}}</td>
       		</tr>
		</tbody>
      </table>
      </div>
 
      